<% content_for :title do %>Promociones comerciales<% end %>
<% content_for :description do %>Website de prueba de algoritmos<% end %>
<section>
  <img src="http://lorempixel.com/879/450/people/4">
</section>
<section>
  <div class="column">
    <h2>Promociones comerciales.</h2>
    <h3>Agua mineral, su precio es 3,11 €:</h3>
    <h3>¡Oferta 2x1!</h3>
    <br>
    <h3>Aceite, su precio es 5,00 €:</h3>
    <h3>¡Comprando tres o más, su precio es 4,50 €! </h3>
    <br>
    <h3>Café, su precio es 11,23 €.
  </div>
  <div class="column">
    <div class="form-centered">
      <%= simple_form_for @calculo do |f| %>
        <%= f.error_notification %>
        <%= f.input :cantidadAM, label: false, :placeholder => 'Unidades de Agua Mineral' %>
        <br/>
        <%= f.error_notification %>
        <%= f.input :cantidadAC, label: false, :placeholder => 'Unidades de Aceite' %>
        <br/>
        <%= f.error_notification %>
        <%= f.input :cantidadCA, label: false, :placeholder => 'Unidades de Café' %>
        <br/>
        <%= f.button :submit, "Calcular precio", :class => "submit" %>
      <% end %>
    </div>
  </div>
</section>
